<?xml version="1.0"?>
<model>
  <name>aruco_tag/name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>your name</name>
    <email>you@example.com</email>
  </author>
  <description>
    Small whiteboard with an AprilTag / ArUco marker texture on the front face.
  </description>
</model>