<?xml version="1.0"?>
<model>
  <name>fluorescent_ceiling_light</name>
  <version>1.0</version>
  <sdf version="1.10">fluorescent_ceiling_light.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>
  <description>
    Rectangular fluorescent ceiling light with a spot light emitting downward.
  </description>
</model>